.navbar-right {
  float: right!important;
  margin-right: -5px;
  margin-top: -65px;
  margin-bottom: -5px;
  height: 65px;
}

.navbar-right.in {
    position: relative;
    left: 0px;
    top: -160px;
    height: 60px;
}

div#navbar.in ul {
  display: initial !important;
  opacity: 1;
}

.navbar-header {
    height: 50px;
}

.ion-navicon {
  color: white;
  text-align: center;
  font-size: 4em;
  padding-right: 20px;
  padding-left: 20px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .ion-navicon {
    opacity: 1;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
  }
  
  #navbar-nav {
    opacity: 0;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
  }
}


@media (min-width: 768px) {
  .ion-navicon {
    opacity: 0;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
  }
}

.image-header .image-profile {
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url(../img/profile.jpg) no-repeat;
  width: 175px;
  height: 175px;
  background-size: 300px;
  background-position-x: -75px;
  background-position-y: 0px;
  z-index: 1;
  margin: auto;
  border: 10px solid rgb(0, 10, 30);
  margin-top: -100px;
}

.image-header h2,
.image-header h3,
.image-header p {
  margin: 0;
}

.image-header.thumbnail {
  margin-top: -20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: absolute;
  z-index: 1001;
  background-color: transparent;
  border: none;
  margin-bottom: 0px;
  padding: 0px !important;
}

header {
  position:fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.container.todo {
    margin-top: 250px;
}

.image-profile,
.caption p {
  opacity: 1;
  
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.nameOnly.image-profile,
.nameOnly.caption p,
.nameOnly.caption h3 {
  opacity: 0;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.navbar-brand.nameOnly {
  opacity: 1;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}


.navbar-brand {
  opacity: 0;
  margin: -10px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 0px !important;
  color: white !important;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.navbar {
  padding: 20px;
  background-color: rgb(0, 10, 30) !important;
  -webkit-transition: padding 1s;
  -moz-transition: padding 1s;
  -o-transition: padding 1s;
  transition: padding 1s;
}

#navbar-nav {
  margin-left: -140px;
  -webkit-transition: margin-left 1s;
  -moz-transition: margin-left 1s;
  -o-transition: margin-left 1s;
  transition: margin-left 1s;
}

#navbar-nav.nameOnly {
  margin-left: 0px;
  -webkit-transition: margin-left 1s;
  -moz-transition: margin-left 1s;
  -o-transition: margin-left 1s;
  transition: margin-left 1s;
}

nav#navigation {
  padding: 20px;
  -webkit-transition: padding 1s;
  -moz-transition: padding 1s;
  -o-transition: padding 1s;
  transition: padding 1s;
}

nav#navigation.nameOnly {
  padding: 0px;
  -webkit-transition: padding 1s;
  -moz-transition: padding 1s;
  -o-transition: padding 1s;
  transition: padding 1s;
}

#navigation ul > li.active > a {
    background: transparent !important;
}

.glyphicon.glyphicon-menu-hamburger {
    font-size: 25px;
    padding: 15px;
    color: white;
}

.show {
  opacity: 1;
}