@media (min-width: 1200px) {
  .col-lg-6 {
    width: 48%;
    margin-right: 1%;
    margin-left: 1%;
  }
  .mySkills {
      margin-top: -240px;
  }

  .hobbies {
      margin-top: -80px;
  }
}

@media (max-width: 1200px) {
  .mySkills {
      margin-top: 0px;
  }

  .hobbies {
    margin-top: 105px;
  }
}

span.business {
  float: left;
}

span.date {
  float: left;
}

div.history-details {
  padding: 10px;
  margin-bottom: 23px;
}

.history-items {
  padding-left: 20px;
}